<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LoginMapper">

<!--    //定义结果集？
将查询到的复杂数据（比如查询到几个表中数据）映射到一个结果集当中。
https://www.cnblogs.com/kenhome/p/7764398.html
相比数据表login，少了字段mobilephone-->
    <resultMap id="shoplogin" type="com.entity.Login">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="roleid" jdbcType="INTEGER" property="roleid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="userstatus" jdbcType="INTEGER" property="userstatus"/>
    </resultMap>


    <!-- 注册
    insert语句，少了roleid和userstatus-->
    <insert id="loginAdd" parameterType="com.entity.Login">
        insert into login (id,userid,username,password,mobilephone) values (#{id},#{userid},#{username},#{password},#{mobilephone})
    </insert>


    <!-- 登录及判断用户是否存在
    条件除了roleid，userstatus默认为1正常状态-->
    <select id="userLogin" parameterType="com.entity.Login" resultMap="shoplogin">
        select * from login
        <where>
            <if test="userid != null">and userid = #{userid}</if>
            <if test="username != null">and username = #{username}</if>
            <if test="mobilephone != null">and mobilephone = #{mobilephone}</if>
            <if test="password != null">and password = #{password}</if>
        </where>
        and userstatus=1
    </select>


    <!-- 修改登录信息
    除了id和userid，全都可以改-->
    <update id="updateLogin" parameterType="com.entity.Login">
        update login
        <set>
            <if test="roleid != null">roleid = #{roleid},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="mobilephone != null">mobilephone = #{mobilephone},</if>
            <if test="userstatus != null">userstatus = #{userstatus}</if>
        </set>
        where id=#{id} or userid=#{userid}
    </update>
</mapper>
