<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>商家基本信息</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
  <script th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
  </script>
</head>
<body>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">商家基本信息</div>
        <div class="layui-card-body" pad15>

          <form class="layui-form">
            <div class="layui-form-item">
              <label th:if="${userInfo.sex}=='男'" class="layui-form-label" >他的评分</label>
              <label th:if="${userInfo.sex}=='女'" class="layui-form-label" >她的评分</label>
              <div class="layui-input-inline" style="cursor:not-allowed">
                <i class="layui-icon layui-icon-rate-solid" style="font-size: 24px; color: #ffbb00;"></i>
                <span type="text" th:text="${userInfo.star}" readonly="readonly"></span>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="required" lay-reqtext="用户名不能为空"
                       readonly="readonly" style="cursor:not-allowed;"
                       autocomplete="off" class="layui-input" th:value="${userInfo.username}">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label" style="margin-top: 25px">头像</label>
              <div class="layui-input-inline">
                <img th:src="${userInfo.uimage}"
                     style="margin-left:30px; width:100px;border-radius:50%;cursor: pointer"
                      alt="头像" id="uimage">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" name="email" value="" lay-verify="email" autocomplete="off"
                       readonly="readonly" style="cursor:not-allowed;"  class="layui-input" th:value="${userInfo.email}">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">学校</label>
              <div class="layui-input-inline">
                <input type="text" name="school" lay-verify="school" autocomplete="off"
                       placeholder="请输入所在学校" class="layui-input" th:value="${userInfo.school}"
                       style="cursor:not-allowed;" readonly="readonly">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">院系</label>
              <div class="layui-input-inline">
                <input type="text" name="faculty" value="" lay-verify="faculty" autocomplete="off"
                       placeholder="请输入所在院系" class="layui-input" th:value="${userInfo.faculty}"
                       style="cursor:not-allowed;" readonly="readonly">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-inline">
                <label class="layui-form-label">入学时间</label>
                <div class="layui-input-inline">
                  <input type="text" name="startime" class="layui-input"
                         placeholder="选择入学时间" th:value="${userInfo.startime}"
                         style="cursor:not-allowed;" readonly="readonly">
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">性别</label>
              <div class="layui-input-block">
                <input th:if="${userInfo.sex}=='男'" type="radio" name="sex" value="男" title="男" checked readonly="readonly">
                <input th:if="${userInfo.sex}=='女'" type="radio" name="sex" value="女" title="女" checked readonly="readonly">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/static/layui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/userInfo/info.js}"></script>

<script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set']);
</script>
</body>
</html>