<!DOCTYPE html>
<html lang="en">

<script type="text/javascript" th:src="@{/static/js/common/order.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/static/plugins/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
<script type="text/css" src="@{/static/layuiadmin/style/login.css"></script>
<script inline="javascript">
  var goodid =  [[${session.goodid}]];
  //这里获取的gooid其实是错误的，session中存储的gooid是string，但是这种方式获取之后会自动从string类型的值转化为int，导致尾三位四舍五入，没有找到合适的解决办法
  //可以用 + ""  是为了将int转化为string,虽然本身int就是错误的
</script>
<head>
    <meta charset="UTF-8">
    <title>填写订单信息</title>
</head>
<body>
<div class="layadmin-user-login-main " >
  <div class="layadmin-user-login-box layadmin-user-login-body layui-form" style="margin-top: 20px">
    <div class="layui-form-item">
      <label class="layui-form-label"><span style="color: red">*</span>收件人</label>
      <div class="layui-input-block">
        <input type="text" id="receiverName" name="username" lay-verify="required" autocomplete="off" placeholder="请输入收件人名称" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
          <label class="layui-form-label"><span style="color: red">*</span>手机号</label>
          <div class="layui-input-block">
            <input type="number" id="receiverTel" name="mobilephone"  lay-verify="required" autocomplete="off" placeholder="请输入收件人手机号"
                   class="layui-input">
          </div>

    </div>
    <div class="layui-form-item">

          <label class="layui-form-label"><span style="color: red">*</span>收件地址</label>
          <div class="layui-input-block">
            <input type="text" id="address" name="useraddress" lay-verify="required" autocomplete="off" placeholder="请输入收件地址"
                   class="layui-input">
          </div>

    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button onclick="createOrder()" class="layui-btn">提交订单</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{/alipay}"><button class="layui-btn">前往支付</button></a>
      </div>
    </div>
  </div>
</div>
</body>

</html>