<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>500页面</title>
    <link rel="stylesheet" th:href="@{/static/css/mypage/style.css}">
    <script th:src="@{/static/js/mypage/parallax.js}"></script>
</head>

<body>
    <div class="container">
        <ul id="scene">
            <li class="layer" data-depth=".2"><img th:src="@{/static/images/mypage/planet1.png}"></li>
            <li class="layer" data-depth=".3"><img th:src="@{/static/images/mypage/planet2.png}"></li>
            <li class="layer" data-depth=".2"><img th:src="@{/static/images/mypage/man.png}"></li>
            <li class="layer" data-depth=".5"><img th:src="@{/static/images/mypage/earth.png}"></li>
            <li class="layer" data-depth=".1">
				<img th:src="@{/static/images/mypage/500.png}" style="margin-left:530px;margin-top:275px">
            </li>
            <li class="layer" data-depth=".4"><img th:src="@{/static/images/mypage/planet3.png}"></li>
            <li class="layer" data-depth=".8"><img th:src="@{/static/images/mypage/planet4.png}"></li>
            <li class="layer" data-depth="0"><img th:src="@{/static/images/mypage/planet5.png}"></li>
        </ul>
		
    </div>
    <script>
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene);
    </script>
</body></html>